.contact {
  padding: 120px 0;

  &__container {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 80px;

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 36px;
    color: #344f10;
  }

  &__text {
    margin-bottom: 40px;
    line-height: 160%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__input,
  &__textarea {
    padding-bottom: 12px;
    border: none;
    border-bottom: 1px solid #bdbdbd;

    font: inherit;

    background: transparent;
  }

  &__textarea {
    resize: none;
  }

  &__button {
    cursor: pointer;

    width: 280px;
    height: 60px;
    margin-top: 20px;
    border: none;

    color: white;
    text-transform: uppercase;

    background: #333;

    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s,
      box-shadow 0.3s;

    &:hover {
      transform: translateY(-3px);
      background-color: #344f10;
      box-shadow: 0 8px 20px rgba(52, 79, 16, 0.25);
    }
  }

  &__image {
    width: 100%;
    height: 520px;
    object-fit: cover;
  }
}
