.header {
  padding: 32px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo-image {
    display: block;
    width: 270px;
    height: 50px;
  }

  &__nav {
    display: flex;
    gap: 40px;
  }

  &__link {
    color: #344f10;
    text-decoration: none;

    transition: color 0.3s;

    &:hover {
      color: #8c9772;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-icon {
    width: 24px;
    height: 24px;

    transition: transform 0.3s;
  }

  &__cart:hover .header__cart-icon {
    transform: scale(1.1);
  }
}
