.hero {
  padding: 60px 0 120px;

  &__container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
  }

  &__content {
    width: 430px;
  }

  &__title {
    margin: 0 0 32px;

    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
  }

  &__text {
    margin: 0 0 48px;
    font-size: 16px;
    line-height: 150%;
    color: #333;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 60px;

    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #333;

    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s,
      box-shadow 0.3s;

    &:hover {
      transform: translateY(-3px);
      background-color: #344f10;
      box-shadow: 0 8px 20px rgba(52, 79, 16, 0.25);
    }
  }
}
