@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Poppins.woff2') format('woff2');
}

@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Avenir.woff2') format('woff2');
}

body {
  font-family: Poppins, Avenir, sans-serif;
}
